.body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.logo-image {
    width: 40%;
    height: 10%;
  }

  .pokemon-list-container {
    height: 500px; /* Ajusta la altura deseada */
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 55%;
    margin: 40px auto;
    background-color: #fbd74e;
  }
  

/*Imagen del pokemon*/
.pokemon-sprite-container {
  width: 256px;
  height: 256px;
  margin: 20px auto;
}
/*La imagen se ajusta al 100% de lo que se definio antes
en el contenedor*/
.pokemon-sprite {
  width: 100%;
  height: 100%;
}
/*Ajusta la tabla al centro y trata de ajustar */
.centered-table {
  display: flex;
  justify-content: center;
}
/*da estilos al contenedor de buscar alineandolo al centro*/ 
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
/*Al input buscar donde se ingresa la busqueda estilos como
alto y ancho*/
.search-input {
  width: 70%;
  border-radius: 20px;
  height: 55px;
}
/*contenedor de titulo*/
.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* Se da un fondo a la pantalla con degradado*/
.pokemon-background {
  background: linear-gradient(135deg, #fcd06e, #fb8b30);
  
  min-height: 100%;
}

/*Estilos al contenedor de la tabla como ajustarse a la
pantalla al 80%*/
.table-container {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin: 0 auto;
    width: 80%;
  }

td,
th {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-mobile {
  display: none;
}
/*Inicia la parte para dispositivos moviles con una 
pantalla de mximo 600px*/
@media (max-width: 600px) {
    .table-mobile {
      display: block;
      width: 95%;
      display: flex;
      flex-direction: column;
      background-color: #f2f2f2; /* Color de fondo de la tabla */
      border-radius: 10px;
      padding: 5px;
    }
    
    .table-row {
      display: flex;
    }
    
    .table-cell {
      flex: 1;
      border: 1px solid black;
      padding: 10px;
    }
    /*Se oculta la tabla que deberia aparecer solo en 
    dispositivos de escritorio*/
    .table-desktop {
      display: none;
    }
    
    .centered-table {
      display: none;
    }
    /*Se quitan los estilos de lista para que aparezca sin viñetas*/
    .table-mobile ul {
        list-style-type: none;
        padding: 10px;
        margin: 0;
      }
  }

  /*Inicia la parte para dispositivos de escritorito de minimo 601px*/
@media (min-width: 601px) {
  .pokemon-list {
    display: none;
  }

  .centered-table {
    margin: 0 auto;
    width: 80%;
  }

  table {
    border-radius: 10px;
    background-color: #f2f2f2;
  }

  table th,
  table td {
    padding: 10px;
  }

  table th {
    background-color: #e0e0e0;
  }

  table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }

  table tbody tr:hover {
    background-color: #f9f9f9;
  }
}